body{
    background-color: black;
}
#wrapper{
    margin: auto;
    width: 800px;
    height: 400px;
    border: 1px solid black;
    margin-top: 50px;
    padding: 20px;
    background-color: grey;
}
.center{
    text-align: center;
}
#epicButton{
    border-radius: 20px;
    height: 75px;
    width: 200px;
    background-color: #085394;
    color: white;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 35%;
}
#resetButton{
    height: 40px;
    width: 150px;
    color: white;
    font-size: 15px;
    background-color: #CF2A27;
    float: right;
    margin-top: 29%;
}