<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Result</title>
    </head>
    <body>
        <div id="resultWrapper">
            <form action="/process" method="post">
                <h1 class="center">Welcome to the Great Number Game!</h1>
                <h3 class="center">I am thinking of a number between 1 to 100</h3>
                <h3 class="center">Take a guess!</h3>
                <% if(info.guess == info.number) { %>
                    <div id="answerContainerRight">
                        <h1 class="center"><%= info.number %> was the number!</h1>
                        <a href="/"><h3 id="playAgain">Play again!</h3></a>
                    </div>
                <% } %>
                <% if(info.guess != info.number) { %>
                    <div id="answerContainerWrong">
                        <% if(info.guess > info.number) { %>
                            <h1 class="center">Too High!</h1>
                        <% } %>
                        <% if(info.guess < info.number) { %>
                            <h1 class="center">Too Low!</h1>
                        <% } %>
                    </div>
                    <input id="centerInputText" type="text" name="guess"><br>
                    <input type="submit" id="centerInput">
                <% } %>
            </form>
        </div>
    </body>
</html>